.input{
  text-align:centre;
  padding:5%;
}
.file{
  width:30%;
}
.heading{
 /* margin-bottom:3%;*/
}
#submit_BU{
  display:none;
}

.success{
  font-weight:bold;
  background-color:#478b5fab;
  color:white;
  text-align:center;
  width:30%;
  margin-top:2px;
  vertical-align:middle;
  border-radius:5px;
}
.Empty{
  font-weight:bold;
  background-color:rgb(128, 22, 15);
  color:white;
  text-align:center;
  width:20%;
  margin-top:2px;
  vertical-align:middle;
  border-radius:5px;
}
.Error{
  background-color:rgb(160, 14, 4);
  border: 1px red solid;
  color:white;
  padding:2px;
  width:auto;
  margin-top:2px;
  vertical-align:middle;
  border-radius:5px;
}
#upload_config_status{
  display:none;
}
.inline_block{
  display:inline-block;
}
.upload_config{
  vertical-align:middle;
  width:45%;
  display:inline-block;
}
.config_input{
  position:relative;
}
.select_config{
  position:relative;
  vertical-align:middle;
  margin-top:2px;
  margin-left:5px;
 width:45%;
  display:inline-block;
}
.Rank_Pool{
  
}
.leaderboard_rankpool{

}
.inthemoment_rankpool{
  
}
.select_BU_label{

}
.select_BU_TEAM_LEVEL_label{
 
}
.rankpool_separator{
  width:10%;
  display:none;
}
.chairman_circle{
}
.config_form{
  margin-top:5px;
}
.Configs{
  float:left;
}
.chairmancircle_IFRAME{
  float:right;
}
.copy_button{
  float:right;
}
.configurator{
  margin:50px;
}