.input{
  text-align:centre;
  padding:5%;
}
.file{
  width:30%;
}
.heading{
 /* margin-bottom:3%;*/
}
#submit_BU{
  display:none;
}
#Upload_Config{
  width:40%;
}
.success{
  font-weight:bold;
  background-color:#478b5fab;
  color:white;
  text-align:center;
  width:30%;
  margin-top:2px;
  vertical-align:middle;
  border-radius:5px;
}
.Empty{
  font-weight:bold;
  background-color:rgb(128, 22, 15);
  color:white;
  text-align:center;
  width:20%;
  margin-top:2px;
  vertical-align:middle;
  border-radius:5px;
}
.Error{
  /*font-weight:bold;*/
  background-color:rgb(160, 14, 4);
  border: 1px red solid;
  color:white;
  padding:2px;
  /*text-align:center;*/
  /*width:80%;*/
  width:auto;
  margin-top:2px;
  vertical-align:middle;
  border-radius:5px;
}
.inline_block{
  display:inline-block;
}
.Rank_Pool{
  margin-top:50px;
width:40%
}
.leaderboard_rankpool{
width:45%;
display:inline-block;
}
.inthemoment_rankpool{
  width:45%;
  display:inline-block;
}
.select_BU_label{
  display:inline-block;
}
.select_BU_TEAM_LEVEL_label{
  display:inline-block;
  margin-left:50px;
}
.rankpool_separator{
  width:10%;
  display:none;
}
.configurator{
  margin-top:3%;
  margin-left:3%;
}
.Leaderboard_Iframe{
  width:50%;
  margin-left:50px;
  margin-top: 50px;
}

/* REFRESH ANIMATION ICON */
@mixin animation-name($name){
  animation-name: $name;
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
}

@mixin animation-duration($duration){
  animation-duration: $duration;
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -ms-animation-duration: $duration;
}

@mixin animation-timing-function($func){
  animation-timing-function: $func;
  -webkit-animation-timing-function: $func;
  -moz-animation-timing-function: $func;
  -ms-animation-timing-function: $func;
}

@mixin animation($name, $duration, $timing-func){
  @include animation-name($name);
  @include animation-duration($duration);
  @include animation-timing-function($timing-func);
}

@keyframes spin{
  to { transform: rotate(360deg) }
}

.icon-btn{
  border: none;
  background-color: transparent;
  outline: 0;
  
  i{
      color: #446CB3;
      font-size: 2em;
      cursor: pointer;
  }
  
  
  i.spin-animation{
      @include animation(spin, 0.5s, ease-in);
  }
}
/* END */