{% extends "layout.html" %}

{% block configuration %}

    {% with messages=get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages  %}
                        <div class="badge bg-danger text-wrap">{{msg}}</div>
                    {% endfor %}
                {% endif %}
    {% endwith %}

    <div class="configurator">
        <a href="{{url_for('home')}}">
            <div class="mt-4 ms-4 btn btn-outline-success"><svg width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg> Go Back
            </div>
        </a>
        <a href="{{url_for('configuration_document')}}" download>
            <button type="button" class="icon-btn btn btn-warning" id="my-btn" onclick="refresh_icon()">
                Download Config
            </button>
        </a>
        
        <form method="POST" action="/configurator" enctype="multipart/form-data">
            <a href="{{url_for('config')}}">
                <button type="button" class="btn btn-info" onclick="refresh_config();">
                    <svg width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                    </svg>
                    Refresh Config
                </button>
            </a>
            <div class="upload_config">
                {{form.Upload_Config.label(class="form-label")}} 
                {{form.Upload_Config(class="form-control", onchange="submit_visible()")}}
                {{form.submit_BU(onclick="switch_off_visiblity()")}}
                <div class=status>
                    <div class="error">Status:</div>
                    {% for stat in status %}
                        <div class=error>{{stat}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="select_BU_label">Select BU <br> {{form.select_BU(onchange="this.form.submit()")}} </div>
                    <noscript>{{form.submit_BU}}</noscript>
            <div class="select_BU_TEAM_LEVEL_label">Select BU_TEAM_LEVEL <br> {{form.select_BU_TEAM_LEVEL(onchange="this.form.submit();")}}</div>
            <div class="Rank_Pool">
                <h3>Rank Pools</h3>
                <div class="heading">
                    <div class="leaderboard_rankpool">
                        <h5>Leaderboard</h5>
                    </div>
                    <div class="rankpool_separator">yz</div>
                    <div class="inthemoment_rankpool">
                        <h5>InTheMoment</h5>
                    </div>
                </div>
                <div class="data"> 
                    <div class="leaderboard_rankpool">
                        {% for rankpool in leaderboard_rankpool %}
                            <div class="">{{rankpool['RANK_POOL']}}</div>
                            <input class="checkbox" onchange="rankpool_visibility_checkbox(this.id, this.checked);" type="checkbox" name="rankpoolvisibilityflag" id="{{rankpool['Id']}}" {% if rankpool['RANK_POOL_VISIBILITY_FLAG']==1 %}checked{% endif %}/>
                            <input class="text" onchange="rankpool_pseudo_name(this.id, this.value);" type="text" name="rankpool_pseudoname" id="{{rankpool['Id']}}" value="{{rankpool['RANK_POOL_PSEUDONAME']}}"/>
                        {% endfor %}
                    </div>
                    <div class="rankpool_separator">yz</div>
                    <div class="inthemoment_rankpool">
                        {% for rankpool in inthemoment_rankpool %}
                            <div class="">{{rankpool['RANK_POOL']}}</div>
                            <input class="checkbox" onchange="rankpool_visibility_checkbox(this.id, this.checked);" type="checkbox" name="rankpoolvisibilityflag" id="{{rankpool['Id']}}" {% if rankpool['RANK_POOL_VISIBILITY_FLAG']==1 %}checked{% endif %}/>
                            <input class="text" onchange="rankpool_pseudo_name(this.id, this.value);" type="text" name="rankpool_pseudoname" id="{{rankpool['Id']}}" value="{{rankpool['RANK_POOL_PSEUDONAME']}}"/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="chairmancircle_IFRAME">
        <iframe id="chairman_circle" src="/leaderboard_generation"width="100%" height="300" width="100%" height="300" title="Chairman's Circle"></iframe> 
        <button class="copy_button" onclick="getIframeContent('chairman_circle')">Copy Code</button>
    </div>
{% endblock %}